<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/aion/layout-rwd">

<head layout:fragment="head-contents">
    <title>다시 만난 세계</title>
</head>

<th:block layout:fragment="pageinfo-basic">
    <!--// open graph protocol -->
    <meta property="og:title" content="다시 만난 세계">
    <meta property="og:image" th:content="|${ui['wstatic.aion']}/event/2019/191106_11th/again/img/sns.jpg|">
    <meta property="og:description" content="새롭게 달라진 용계에서 데바 여러분의 힘찬 발걸음을 응원합니다.">
    <!-- open graph protocol //-->
    
    <!--// twitter image -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="다시 만난 세계">
    <meta name="twitter:image" th:content="|${ui['wstatic.aion']}/event/2019/191106_11th/again/img/sns.jpg|">
    <meta name="twitter:description" content="새롭게 달라진 용계에서 데바 여러분의 힘찬 발걸음을 응원합니다.">
    <!-- twitter image //-->

    <link rel="shortcut icon" th:href="|${ui['wstatic.default']}/common/aion.ico|" type="image/x-icon" />
    <link rel="icon" th:href="|${ui['wstatic.default']}/common/aion.ico|" type="image/x-icon" />

    <link rel="stylesheet" th:href="|${ui['wstatic.default']}/promokit/v1.1/css/promokit.css|" />
    <link rel="stylesheet" th:href="|${ui['wstatic.aion']}/event/2019/191106_11th/css/m-again.css|">
</th:block>

<body>
<div layout:fragment="content" th:with="folder=(${path.indexOf('UiDev') > -1}) ? 'UiDev/aion/2019/191106_11th' : 'aion/2019/191106_11th' ,isLogin=${#authorization.expression('isAuthenticated()')}">

    <div id="header" class="p-header">
        <ul class="p-etc">
            <li class="p-etc__list p-etc__list--event">
                <a th:href="|${ui['event.aion']}|" class="p-etc__btn">이벤트더보기</a>
            </li>
        </ul>
        <div class="p-header__img">
            <h1>다시 만난 세계</h1>
            <p>새롭게 달라진 용계에서 데바 여러분의 힘찬 발걸음을 응원합니다.</p>
        </div>
    </div>

    <section class="p-sec">
        <div class="p-sec1 p-sec1__con1">
            <div class="p-sec--wrap p-sec1__con1--img">section1</div>
        </div>
    </section>

    <section class="p-sec">
        <div class="p-sec2 p-sec2__con1">
            <div class="p-sec--wrap p-sec2__con1--img">section2</div>
        </div>
    </section>

    <section class="p-sec">
        <div class="p-sec3 p-sec3__con1">
            <div class="p-sec--wrap p-sec3__con1--img">section3-1</div>
        </div>
        <div class="p-sec3 p-sec3__con2">
            <div class="p-sec--wrap p-sec3__con2--img">section3-2</div>
        </div>
    </section>

    <!--/* notice */-->
    <th:block th:replace="|${folder}/again/fragment-notice| :: notice"></th:block>
    <!--/* footer */-->
    <th:block th:replace="|${folder}/again/mobile/fragment-footer| :: footer"></th:block>
    <!--/* js */-->
    <th:block th:replace="|${folder}/again/mobile/fragment-js| :: js"></th:block>

</div>
</body>
</html>
